.Calendar-Wrapper{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 14px;
  grid-row-gap: 14px;
}
h1{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Shadows Into Light', cursive;
  font-size: 48px;
  padding: 5px;
  margin: 5px;
  text-shadow: 2px 2px 10px gray;

}
.App{
  padding: 14px;
}